body{
  margin: 0;
  color: #121212;
}

h1{
  padding-top: 30px;
  font-family: 'Audiowide', cursive;
  font-size: 4rem;

}

h2{
  font-family: 'Freckle Face', cursive;
  font-size: 3rem;
  font-weight: lighter;
}
h3{
  font-family: 'Freckle Face', cursive;
  font-size: 2rem;
  font-weight: lighter;
}
p{
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}
hr{
  border-style: dotted none none none;
  border-width: 10px;
  width: 10%;
  margin: 50px auto;
  color: #FA9494;
}
a{
  font-family: 'Roboto', sans-serif;
}
/*Top Section*/
.top{
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
  background-blend-mode: overlay;
  text-align: center;
  padding-top: 80px;
  background-color: #F5F5F5;
}
.stu{
  text-decoration: underline;
}
.jujutsu-name{
  width:500px;
  height:200px;
  margin-left: 50px;
}

/*Mid Section*/
.middle{
  text-align: center;
  background-color: #F05454;
  padding: 100px 0;
}

.profile{
  width: 40%;
  margin: auto;

}
.speech-img{
  border-radius: 50%;
  width: 20%;
  float: left;
  margin-right: 50px;
}
.rika-img{
  width: 20%;
  float: right;
  margin-left: 50px;
}
.shadow-img{
  width: 30%;
  float: left;
  margin-right: 50px;
}
.skill-row{
  margin: 80px auto;
  text-align: left;
  width: 50%;
}
.contact-message{
  width: 25%;
  margin: auto auto 50px auto;
}

.btn {
   background: #EB1D36;
   background-image: -webkit-linear-gradient(top, #121212, #121212);
   background-image: -moz-linear-gradient(top, #121212, #121212);
   background-image: -ms-linear-gradient(top, #121212, #121212);
   background-image: -o-linear-gradient(top, #121212, #121212);
   background-image: -webkit-gradient(to bottom, #121212, #121212);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #CFD2CF;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 4px 0 #000000;
   -moz-box-shadow: 1px 1px 4px 0 #000000;
   box-shadow: 1px 1px 4px 0 #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #121212 0;
   background: #121212;
   background-image: -webkit-linear-gradient(top, #121212, #878583);
   background-image: -moz-linear-gradient(top, #121212, #878583);
   background-image: -ms-linear-gradient(top, #121212, #878583);
   background-image: -o-linear-gradient(top, #121212, #878583);
   background-image: -webkit-gradient(to bottom, #121212, #878583);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

/*Bottom Section*/
.bottom{
  background-color: #121212;
  text-align: center;
  padding: 50px;
}
.footer-link{
  margin: 0 30px;
  text-decoration: none;
  color: #F5F5F5;
}
.footer-link:hover{
  color: #F05454;
}
.credit{
  margin-top: 50px;
  color: #F5F5F5;
}
